<h1>List of Pages</h1>

<div>
	<ul>
		<% @pages.each do |file| %>
			<% next if (file == ".") || (file == "..") %>
	    	<li><%= file.chomp(".txt") %></li>
	  <% end %>  
	</ul>
</div>


<a href="/">Back to home page</a>