<p>Please enter your name below.</p>

<form method="post" action="/signatures/<%= @index %>">
	<input type="hidden" name="_method" value="delete">
  <input type="text" name="signature" value="<%= @signature %>">
  <input type="submit">
</form>